.heading h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  color: #373535;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.leftSide {
  margin: 0 20px 19px 0;
}

.portrait {
  width: 250px;
}

.landscape {
  width: 470px;
}

.react {
  background-color: #47a3f8;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  margin-right: 8px;
}

.js {
  background-color: #f8c647;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: black;
  margin-right: 8px;
}

.css {
  background-color: #3040cc;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  margin-right: 8px;
}

.bootstrap {
  background-color: #8210f5;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  margin-right: 8px;
}

.api {
  background-color: #938d99;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  margin-right: 8px;
}

.html {
  background-color: #dd4b25;
  border: none;
  border-radius: 29px;
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  margin-right: 8px;
}

@media (max-width: 1435px) {
  .leftSide {
    margin: 20px 20px 19px 0;
  }
}
