.heading h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  color: #373535;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.leftSide {
  margin: 0 20px 19px 0;
}

.portraitBuzzfeed {
  width: 200px;
  height:300px;
}

.portrait {
  width: 250px;
}

.landscape {
  width: 470px;
}

.skillChip{
  border-radius: 29px;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
}

.react {
  background-color: #47a3f8;
  color: white;
}

.js {
  background-color: #f8c647;
  color: black;
}

.css {
  background-color: #3040cc;
  color: white;
}

.bootstrap {
  background-color: #8210f5;
  color: white;
}

.api {
  background-color: #938d99;
  color: white;
}

.aws {
  background-color: #FF9900;
  color: white;
}

.heroku {
  background-color: #855FB0;
  color: white;
}

.html {
  background-color: #dd4b25;
  color: white;
}
.figma {
  background-color: #e0a8e7;
  color: white;
}

.node {
  background-color:#75AE5E;
  color: white;
}

.express {
  background-color: #212121;
  color: white;
}

.mongoDB {
  background-color: #178D4D;
  color: white;
}


.figma:hover {
  background-color: white;
  border: 1px solid #e0a8e7;
  color: #e0a8e7;
}

@media (max-width: 1435px) {
  .leftSide {
    margin: 20px 20px 19px 0;
  }
}

@media (min-width: 2000px) {
  .card {
    margin: 5px 20px 20px 0;
  }
}
