.heading h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  color: #373535;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.leftSide {
  margin: 0 20px 32px 0;
}

.portrait {
  max-width: 300px;
}

.landscape {
  max-width: 470px;
}

@media (max-width: 1435px) {
  .leftSide {
    margin: 20px 20px 19px 0;
  }
}

@media (min-width: 2000px) {
  .card {
    margin: 5px 20px 20px 0;
  }
}
