.drawer {
  width: 100%;
  background-color: #f9f9f9;
  /* position: fixed; */
  /* display: flex;
  justify-content: center; */
  top: 70px;
  z-index: 200;
  /* height:40%;
  max-height: 100px; */
  animation: fade-in-top;
  animation-duration: 0.4s;
}

.drawer ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.drawer li {
  display: flex;
  justify-content: center;
}

.drawer a {
  color: #373535;
  text-decoration: none;
  font-size: 18px;
  margin: 0.5rem 0;
}

.drawer a:hover,
.drawer a:active {
  color: #cb2f65;
}

.contactBtn {
  background: rgba(249, 249, 249, 0.53);
  border: 1px solid #cb2f65;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #cb2f65;
  cursor: pointer;
  transition: ease-in-out 2ms;
}

.contactBtn:hover {
  background: #cb2f65;
  color: rgba(249, 249, 249);
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 769px) {
  .drawer {
    display: none;
  }
}
