.drawer {
  position: fixed;
  width: 100%;
  background-color: #f9f9f9;
  top: 70px;
  z-index: 200;
  animation: fade-in-fwd;
  animation-duration: 0.5s;
  margin-left: -120px;
}

.drawer ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer li {
  display: flex;
  justify-content: center;
}

.drawer li:hover {
  background: rgba(203, 47, 101, 0.1);
}

.drawer a {
  color: #373535;
  text-decoration: none;
  font-size: 18px;
  margin: 0.5rem 0;
}

.contactBtn {
  background: rgba(249, 249, 249, 0.53);
  border: 1px solid #cb2f65;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #cb2f65;
  cursor: pointer;
  transition: ease-in-out 2ms;
}

@media (min-width: 769px) {
  .drawer {
    display: none;
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
