.Home li {
  margin: 0 auto;
}

.Home .grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.Home img {
  width: 400px;
}

.Home .arrow {
  grid-column: 1/3;
}
