.Home {
  animation: fade-in-fwd 1.5s;
}

.Home .container {
  display: flex;
  justify-content: space-around;
}

.Home article {
  padding-left: 20px;
}

.Home img {
  width: 400px;
  height: 215px;
}

.Home .Arrow {
  text-align: center;
  animation: pulsate-bck 0.5s infinite;
}

@media (min-width: 830px) {
  .Home .Arrow {
    margin-top: 140px;
  }
}

@media (max-width: 650px) {
  .Home img {
    display: none;
  }

  .Home article {
    text-align: center;
  }
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
