.navbar {
  position: fixed;
  width: 100%;
  background-color: #f9f9f9;
  height: 100px;
  top: 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 60px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0 0.5rem;
}

.navbar a {
  color: #373535;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover,
.navbar a:active {
  color: #cb2f65;
}
