.navbar {
  /* position: fixed; */
  width: 100%;
  /* background-color: silver; */
  background-color: #f9f9f9;
  height: 70px;
  top: 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.logo img {
  width: 60px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar li {
  padding: 0 0.5rem;
}

.navbar a {
  color: #373535;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover,
.navbar a:active {
  color: #cb2f65;
}

.contactBtn {
  background: rgba(249, 249, 249, 0.53);
  border: 1px solid #cb2f65;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #cb2f65;
  cursor: pointer;
  transition: ease-in-out 2ms;
}

.contactBtn:hover {
  background: #cb2f65;
  color: rgba(249, 249, 249);
}

@media (max-width: 768px) {
  .navbarItems {
    display: none;
  }
}

@media (min-width: 769px) {
  .toggle {
    display: none;
  }
}
