.card {
  background-color: #ffffff;
  border-radius: 32px;
  padding: 47px 44px 25px 44px;
  width: 588px;
  max-width: 100%;
  max-height: 633px;
}

.imgContainer {
  background-color: rgba(203, 47, 101, 0.2);
  border-radius: 8px;
  box-shadow: 0px 4px 38px 7px rgba(0, 0, 0, 0.14);
  max-width: 500px;
  height: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.textContainer {
  margin-top: 41px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headingContainer h4 {
  color: #373535;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #776f6f;
  font-size: 18px;
  line-height: 50px;
}

.link:hover {
  color: #cb2f65;
}

.chipsContainer {
  display: flex;
  height: 100px;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-between;
}

.subheading p {
  color: #776f6f;
  font-size: 18px;
  line-height: 30px;
}

