.App {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
}

.App .wrapper .Nav {
  grid-area: nav;
}

.App .wrapper .Home {
  grid-area: home;
}

.App .wrapper .About {
  grid-area: about;
}

.App .wrapper .Education {
  grid-area: education;
}

.App .wrapper .Tech {
  grid-area: tech;
}

.App .Projects {
  grid-area: projects;
}

.App .wrapper .Contact {
  grid-area: contact;
}

@media (min-width: 768px) {
  .App .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 100%;
    grid-template-areas:
      "nav nav nav nav"
      "home home home home"
      "home home home home"
      "home home home home"
      "about about education education"
      "about about education education"
      "tech tech projects projects"
      "tech tech projects projects"
      "tech tech projects projects"
      "contact contact contact contact";
  }
}
@media (max-width: 768px) {
  .App .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 100%;
    grid-template-areas:
      "nav nav nav nav"
      "home home home home"
      "home home home home"
      "home home home home"
      "about about about about"
      "about about about about"
      "education education education education"
      "education education education education"
      "tech tech tech tech"
      "tech tech tech tech"
      "projects projects projects projects"
      "contact contact contact contact";
  }
}
