.Projects .portrait-img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 10px auto;
}

.Projects .landscape-img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 10px auto;
}
