.Projects {
  text-align: center;
  padding-bottom: 20px;
}

.Projects img .weatherapp {
  width: 200px;
  aspect-ratio: attr(200) / attr(340);
  margin-left: 20px;
}

.Projects img .dictionary {
  aspect-ratio: attr(300) / attr(165);
}
